<!DOCTYPE html>
<html>
  <head>
    <title>Sistema Solar</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <canvas id="solar"></canvas>

    <div id="ui">
      <div class="overlay">
        <button class="btn btn-sm btn-secondary" @click="showBodyModal">
          Add celestial body
        </button>
        <button
          class="btn btn-sm btn-secondary"
          @click="showTripModal"
          :disabled="!status.finished"
        >
          Add trip
        </button>
        <button class="btn btn-sm btn-secondary" @click="globalView">
          Global view
        </button>
        <button
          class="btn btn-sm btn-secondary"
          @click="shipViewTop"
          :disabled="status.finished"
        >
          Ship view (top)
        </button>
        <button
          class="btn btn-sm btn-secondary"
          @click="shipViewRear"
          :disabled="status.finished"
        >
          Ship view (rear)
        </button>
        <div class="finished" v-if="status.finished && !initial">
          Trip finished!
        </div>
      </div>

      <div
        id="bodyModal"
        class="modal fade"
        data-keyboard="false"
        data-backdrop="static"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" v-if="bodyModalMode === 'add'">
                Add celestial body
              </h5>
              <h5 class="modal-title" v-if="bodyModalMode === 'edit'">
                Modify celestial body
              </h5>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label>Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    v-model="body.name"
                  />
                </div>
                <div class="form-group">
                  <label>Size</label>
                  <input
                    type="number"
                    class="form-control"
                    id="size"
                    v-model="body.size"
                  />
                </div>
                <div class="form-group">
                  <label>Spin speed</label>
                  <input
                    type="number"
                    class="form-control"
                    id="spinSpeed"
                    v-model="body.spinSpeed"
                  />
                </div>
                <div class="form-group">
                  <label>Orbital speed</label>
                  <input
                    type="number"
                    class="form-control"
                    id="orbitalSpeed"
                    v-model="body.orbitalSpeed"
                  />
                </div>
                <div class="form-group">
                  <label>Distance from the Sun</label>
                  <input
                    type="number"
                    class="form-control"
                    id="distanceFromSun"
                    v-model="body.distanceFromOrbitCenter"
                  />
                </div>
                <div class="form-group">
                  <label>Number of satellites</label>
                  <input
                    type="number"
                    class="form-control"
                    id="nSatellites"
                    v-model="body.nSatellites"
                  />
                </div>
                <div class="form-group">
                  <label>Rings</label>
                  <select class="custom-select" v-model="body.hasRings">
                    <option :value="true">Yes</option>
                    <option :value="false">No</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Appearance</label>
                  <select class="custom-select" v-model="body.texture">
                    <option value="mercury">Mercury</option>
                    <option value="earth">Earth</option>
                    <option value="mars">Mars</option>
                    <option value="jupiter">Jupiter</option>
                    <option value="saturn">Saturn</option>
                    <option value="uranus">Uranus</option>
                    <option value="neptune">Neptune</option>
                    <option value="pluto">Pluto</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Or load data in JSON format:</label>
                  <textarea
                    class="form-control"
                    id="json"
                    v-model="json"
                  ></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                class="btn btn-sm btn-secondary"
                v-if="bodyModalMode === 'add'"
                @click="addBody"
              >
                Add
              </button>
              <button
                class="btn btn-sm btn-secondary"
                v-if="bodyModalMode === 'edit'"
                @click="editBody"
              >
                Edit
              </button>
              <button
                class="btn btn-sm btn-danger"
                v-if="bodyModalMode === 'edit'"
                @click="deleteBody"
              >
                Delete
              </button>
              <button class="btn btn-sm btn-secondary" @click="hideBodyModal">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        id="tripModal"
        class="modal fade"
        data-keyboard="false"
        data-backdrop="static"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                Add trip
              </h5>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label>From</label>
                  <select class="custom-select" v-model="trip.origin">
                    <option v-for="(body, index) in bodies" :value="index">{{
                      body.name
                    }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>To</label>
                  <select class="custom-select" v-model="trip.destination">
                    <option v-for="(body, index) in bodies" :value="index">{{
                      body.name
                    }}</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-sm btn-secondary" @click="addTrip">
                Add
              </button>
              <button class="btn btn-sm btn-secondary" @click="hideTripModal">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="libs/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="libs/three.js/three.js"></script>
    <script src="libs/three.js/controls/OrbitControls.js"></script>
    <script src="libs/three.js/loaders/OBJLoader.js"></script>
    <script src="libs/three.js/loaders/inflate.min.js"></script>
    <script src="libs/three.js/utils/cloneFBX.js"></script>
    <script src="SceneUtils.js"></script>
    <script src="libs2/vue.js"></script>
    <script src="libs/keyframe.js/keyframe.js"></script>

    <script src="MTLLoader.js"></script>
    <script src="update.js"></script>
    <script src="objects.js"></script>
    <script src="script.js"></script>
  </body>
</html>
